version: "3"
services:
  bytestash:
    container_name: bytestash
    image: ghcr.io/jordan-dalby/bytestash:latest
    ports:
      - ${APP_PORT}:5000
    volumes:
      - ${APP_DATA_DIR}/data/snippets:/data
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - TOKEN_EXPIRY=${TOKEN_EXPIRY}
      - DISABLE_ACCOUNTS=${DISABLE_ACCOUNTS}
      - ALLOW_NEW_ACCOUNTS=${ALLOW_NEW_ACCOUNTS}
      - DISABLE_INTERNAL_ACCOUNTS=${DISABLE_INTERNAL_ACCOUNTS}
      - DEBUG=${DEBUG}
    restart: unless-stopped
    networks:
      - tipi_main_network
    labels:
      # Main
      traefik.enable: true
      traefik.http.middlewares.bytestash-web-redirect.redirectscheme.scheme: https
      traefik.http.services.bytestash.loadbalancer.server.port: 5000
      # Web
      traefik.http.routers.bytestash-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.bytestash-insecure.entrypoints: web
      traefik.http.routers.bytestash-insecure.service: bytestash
      traefik.http.routers.bytestash-insecure.middlewares: bytestash-web-redirect
      # Websecure
      traefik.http.routers.bytestash.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.bytestash.entrypoints: websecure
      traefik.http.routers.bytestash.service: bytestash
      traefik.http.routers.bytestash.tls.certresolver: myresolver
      # Local domain
      traefik.http.routers.bytestash-local-insecure.rule: Host(`bytestash.${LOCAL_DOMAIN}`)
      traefik.http.routers.bytestash-local-insecure.entrypoints: web
      traefik.http.routers.bytestash-local-insecure.service: bytestash
      traefik.http.routers.bytestash-local-insecure.middlewares: bytestash-web-redirect
      # Local domain secure
      traefik.http.routers.bytestash-local.rule: Host(`bytestash.${LOCAL_DOMAIN}`)
      traefik.http.routers.bytestash-local.entrypoints: websecure
      traefik.http.routers.bytestash-local.service: bytestash
      traefik.http.routers.bytestash-local.tls: true
      runtipi.managed: true